body{
  font-family: 'Mulish', sans-serif!important;
  background-color: #22577E!important ;
}

.card{
  font-family: Mulish;
}

.height{
  height: 300px;
}

.card-section{
  background-color: #22577E;
  border-radius: 1rem;
  text-align: center;
  color:white;
  padding:20px
}


.clockcenter {
  margin: 5rem;
}

@media only screen and (max-width:600px) {
  .clockcenter {
    margin-left: 12rem;
  }
}

.Sun{
  color:#E45826;
}

.Moon{
  color:#488FB1;
}

.button{
  background-color: white;
  border-style: none;
}